<nav class="navbar navbar-default">
  <div>
        ICON
      </div>
      <div>
        Accueil
      </div>
      <div>
        <a href="{{ path('citations') }}">
          Citations
        </a>
      </div>
      <div>
        Jukebox
      </div>
      <div>
        <a href="{{ path('about') }}">
          A propos
          </a>
      </div>
      <div>
        <a href="{{ path('contact') }}">
          Contact
          </a>
        </div>
</nav>