<nav class="navbar navbar-default">
  <div>
        ICON
      </div>
      <div>
        Accueil
      </div>
      <div>
        Citations
      </div>
      <div>
        Jukebox
      </div>
      <div>
        A propos
      </div>
      <div>
        Contact
</nav>