<nav class="navbar navbar-default">
  <div>
        ICON
      </div>
      <div>
        Accueil
      </div>
      <div>
        <a href="{{ path('citations') }}">
          Citations
        </a>
      </div>
      <div>
        Jukebox
      </div>
      <div>
        A propos
      </div>
      <div>
        Contact
</nav>