{% extends 'base.html.twig' %}


{% block meta %}
    <meta name="application-name" content="a propos de nous" />
    <meta name="description" content="Qui se cache derrière Cpasfaux.club et pourquoi" />
{% endblock %}

{% block mtitle %}
    CPASFAUX : A propos de nous
{% endblock %}

{% block title %}
    A propos de Cpasfaux
{% endblock %}

{% block body %}
	<div id="about" class="row">
		<div class="centrerContent">
			<p>
				La création du site "Cpasfaux.club" est parti d'un projet d'étude sur le SEO.<br>
				Etudiants à l'école INGESUP de Aix En Provence et fans des anecdotes des chevaliers de Kaamelott qui nous font bien rire nous avons décidé d'utiliser cette thématique pour notre projet.
			</p>
		</div>
		<hr>
		<div class="centrerContent">
			<br>
			<div class="col-md-12">
				<div class="person">
					<label class="center">
						<img src="{{app.request.basepath}}/public/img/about/flo.jpg" alt="Photo mace windu développeur du site web" />
					</label>
					<h1>
						Mace Windu
					</h1>
					<p>
							<span class="caracteristiques">Caractéristiques : </span> 
							<span class="infosCara">posé, tempère Toni et La Fouine ...</span>
						<br><br>
						<p>
							En charge de collecter les différentes citations et à mettre en place le contenu du site ...
							<br><br>
						<p>
					</p>
				</div>
				<div class="person">
					<label class="center">
						<img src="{{app.request.basepath}}/public/img/about/toni.jpg" alt="Photo Toni développeur du site web" />
					</label>
					<h1>
						Toni
					</h1>
					<p>					
							<span class="caracteristiques">Caractéristiques : </span> <span <span class="infosCara">taquin, mime souvent La Fouine ...</span>
						<br><br>
						<p>
							En charge d'intégrer le site...
						</p>
					</p>
				</div>
				<div class="person">
					<label class="center">
						<img src="{{app.request.basepath}}/public/img/about/sandrine.jpg" alt="Photo de la fouine maquetiste du site web" />
					</label>
					<h1>
						la fouine
					</h1>
					<p>
						
							<span class="caracteristiques">Caractéristiques : </span> 
							<span class="infosCara">curieuse, à l'affut de discussions ...</span>
						
						<br><br>
						<p>
							En charge de créer le design du site ...
						</p>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
{% endblock %}
