{% extends 'base.html.twig' %}

{% block title %}
	Contactez nous
{% endblock %}

{% block meta %}
	{# Mettre les méta data ici #}
	<meta name="application-name" content="page de contact" />
	<meta name="description" content="Si vous voulez nous contacter, vous pouvez utiliser notre formulaire de contact ou nos envoyer un mail à l'adresse contact@capafaux.club" />
{% endblock %}

{% block body %}

<div id="contact" class="row">
	<div>
		<form action="#" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" />
</form>
	</div>
</div>
{% endblock %}
