#contact {
	
	&>div {
		background: #F8F2E6;
    	border : 8px #E4DDCB solid;
    	margin: 20px;
	}
	form {
		margin: 30px;
		label {
			background-color: #48756E;
			color : white;
			text-transform: uppercase;
			width: 200px;
			height: 41px;
			line-height: 41px;
			padding-left: 10px;
			/*padding-top: 4px;
			padding-bottom: 4px;*/

		}

		input {
			height: 41px;
			border : #48756E 3px solid;
			padding-left: 7px;
			width: 750px;
		}

		input[type="submit"] {
			background : #981712;
			border : none;
			color : white;
			width: 950px;
			font-weight: 700;
			text-transform: uppercase;
		}

		#form {

			div:nth-child(5){
				height: 270px;
				textarea {
					resize : none;
					height: 250px;
					border : #48756E 3px solid;
					padding-left: 7px;
					width: 750px;
				}
				label {
					position: relative;
					top : -225px;
					height: 250px;
				}
			}
		}
	}

}