header {
	.slider {
		.sliderImg{
			background-image: url('./../img/slider/arthur.png');
			background-position: right top;
			background-repeat: no-repeat;
			.sliderCitation{
				display: inline-block;
				vertical-align: top;
				margin: 0px 150px 0px 0px;
				h1 {
					.amatic;
					color : #1d180f;					
					font-weight: 700;					
					text-align: left;
					font-size: 45px;					
					.quote {
						color : #af1b17;
						font-size : 50px;
						font-weight: bold;
						line-height: 30px;
						.shadowsIntoLight;
						&:first-child {
							top : -24px;
							left : -24px;
						}
						&:last-child {
							top : 24px;
							right : -24px;
						}
					}
				}
				label {
					color : #af1b17;
					text-align: right;
					font-family: 'Arial';
					font-size : 14px;
					font-weight: normal;
					display: block;
				}
			}			
		}
	}
}
