.brand {
	padding-top: 15px;
	padding-bottom: 15px;
	h1 {
		color : white;
		text-transform: uppercase;
	}
	h2 {
		color : white;
	}
}

.mainTitle {
	background     : #48756E;
	color          : white;
	text-transform : uppercase;
	font-size      : 30px;
	padding			: 10px 30px;
	overflow       : hidden;
	margin-bottom  : 0;
	margin-top     : 0;
	border-color: #1D180F;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	.centrerMainTitle{
		width: 1200px;
		margin: 0px auto;
	}
}